@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playpen Sans', cursive;
}

body {
  background-image: linear-gradient(rgba(191, 126, 191, 0.594), rgb(180, 147, 212));
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 100vh;
  min-width: 100%;
}

#logoImg {
  height: 40px;
  width: 45px;
  margin: 7px 7px;
}

.header {
  display: flex;
  align-items: center;
  margin: 20px;
  color: white;
  font-size: 30px;
}

.container {
  margin: 15px;
  padding: 30px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(205deg, #ec00ff, #1e0080);
  outline: none;
  border: 0;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 22px;
  padding-right: 18px;
  padding-left: 13px;
  padding-top: 2px;
}

#editImg {
  height: 24px;
  width: 23px;
  margin: 7px 7px;
}

.notes-container {
  position: relative;
  height: 150px;
  margin-top: 25px;
  margin-left: 26px;
  width: 500px;
}

.notes-content {
  padding: 6px;
  box-shadow: 2px 3px 9px #0000007d;
  background-color: white;
  height: 150px;
  width: 500px;
  color: rgb(28, 28, 28);
  outline: none;
  border: 0;
  font-size: 15px;
  margin: 5px;
  margin-top: 25px;
  position: relative;
}

#deleteIcon {
  position: absolute;
  bottom: 8px;
  right: 7px;
  width: 33px;
  height: 26px;
  cursor: pointer;
}