@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}

body {
    background: linear-gradient(205deg, #3b004e, #06005f);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100vh;
}

.container {
    margin: auto;
    display: block;
    width: 33%;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 65px;
}

#to-do-heading {
    display: flex;
    justify-content: start;
    align-items: center;
}

#to-do-heading h2 {
    font-family: 'Poppins', sans-serif;
    color: darkblue;
    margin: 5px;
    padding: 8px;
}

#to-do-heading img {
    width: 35px;
    height: 35px;
}

#search-bar {
    margin-top: -10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#search-bar input[type=text] {
    background-color: #cecece96;
    color: black;
    border: 0;
    outline: 0;
    padding: 11px;
    border-radius: 20px;
    width: 95%;
}

#search-bar button {
    border: 0;
    outline: 0;
    border-radius: 20px;
    width: 80px;
    padding: 11px;
    background-color: rgb(40, 25, 210);
    color: rgb(255, 255, 255);
    font-weight: 900;
    position: absolute;
    cursor: pointer;
    right: 460px;

}

#search-bar button:hover {
    background-color: red;
    color: white;
}

#tasks-checklist {
    position: relative;
    left: -135px;
}

#tasks-checklist li {
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    position: relative;
    padding-bottom: 15px;
}

#tasks-checklist li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: url('Images/unchecked.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    right: 595px;
    top: 8px;
    cursor: pointer;
}


ul li {
    margin-left: 30px;
    color: white;
}

.tasks{
    text-align: left;
    padding: 5px 55px;
}